---
import "../app.css";

export interface Props {
  bg?: string;
  squareThingFill?: string;
  logoHref?: string;
  altPage?: string;
  altClass?: string;
}

const {
  bg = "bg-#F7F3F0",
  squareThingFill = "#1E1A19",
  logoHref = "/about",
  altPage = "About",
  altClass = "text-#0A231D fw-500"
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="og">
      <meta name="image" content="https://shatermt.com/og.png" />
      <meta property="og:title" content="Shater Tsavsar" />
      <meta property="og:image" content="https://shatermt.com/og.png" />
      <meta
        property="og:description"
        content="I'm Shater, I specialise in creating enjoyable and effective digital experiences. My focus is on user satisfaction, engagement, and creating visually appealing designs."
      />
      <meta
        property="twitter:description"
        content="I'm Shater, I specialise in creating enjoyable and effective digital experiences. My focus is on user satisfaction, engagement, and creating visually appealing designs."
      />
      <meta property="twitter:title" content="Shater Tsavsar" />
      <meta property="twitter:card" content="summary_large_image" />
      <meta property="twitter:url" content="https://shatermt.com/" />
      <meta property="twitter:image" content="https://shatermt.com/og.png" />
    </slot>

    <title>Shater Tsavsar</title>
  </head>
  <body class={`font-satoshi flex flex-col ${bg}`}>
    <header class="px-3.56rem py-4.4rem">
      <nav class="flex justify-between items-center max-w-2xl mx-a">
        <!-- LOGO -->
        <a href={logoHref}>
          <div class="h-50px w-50px rounded-full">
            <img src="/Images/Icon.png" alt="" />
          </div>
        </a>

        <!-- RIGHT ICON -->
        <a
          href={logoHref}
          class:list={[
            "relative h-75px w-75px flex items-center justify-center",
            altClass
          ]}
        >
          <span>{altPage}</span>

          <div class="absolute top-0 right-0 h-full w-full rotate--10">
            <img
              src={altPage === "Home" ? "/circle-white.svg" : "/circle.svg"}
              class="h-full"
              alt=""
            />
          </div>
        </a>
      </nav>
    </header>

    <slot />

    <br /><br />

    <div
      class="flex mt-a relative pb-16px flex-col items-center justify-evenly content-center"
    >
      <p
        class="text-10px text-#9A9A9A flex items-center content-center font-mena-grotesk fw-300"
      >
        Copyright © 2024 Mchiaga Tsavsar Shater. All Rights Reserved.
      </p>
      <p
        class="text-10px gap-1 text-#9A9A9A flex items-center content-center font-mena-grotesk fw-300"
      >
        Designed By <a class="underline" href="https://twitter.com/Tsavsar_"
          >Shater</a
        > Built With

        <a class="underline" href="https://twitter.com/hyprsonic_dev"
          >@hyprsonic_dev</a
        >
      </p>
    </div>
  </body>
</html>
