---
import "../app.css";

const {
  bg = "bg-#F7F3F0",
  squareThingFill = "#1E1A19",
  logoHref = "/about",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Shater Tsavsar</title>
  </head>
  <body class={`font-satoshi flex flex-col ${bg}`}>
    <header class="px-3.56rem py-4.4rem">
      <nav class="flex justify-between items-center max-w-2xl mx-a">
        <!-- LOGO -->
        <a href={logoHref}>
          <div class="h-50px w-50px rounded-full">
            <img src="public/Website Assets/Images/Icon.png" alt="" />
          </div>
        </a>

        <!-- RIGHT ICON -->
        <div class="h-30px w-30px rounded-md">
          <svg
            width="30"
            height="30"
            viewBox="0 0 23 24"
            fill={squareThingFill}
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.6929 23.5C3.85075 23.5 3.16804 22.8173 3.16804 21.9751C3.16804 21.133 2.48534 20.4503 1.64318 20.4503H1.58402C0.709191 20.4503 0 19.7411 0 18.8663L0 3.5C0 1.84315 1.34315 0.5 3 0.5L18.4021 0.5C19.2618 0.5 19.9587 1.19693 19.9587 2.05663V2.0926C19.9587 2.93244 20.6395 3.61326 21.4793 3.61326C22.3192 3.61326 23 4.29408 23 5.13392L23 20.5C23 22.1569 21.6569 23.5 20 23.5L4.6929 23.5ZM1.26722 16.2431C1.26722 17.8999 2.61036 19.2431 4.26722 19.2431H15.6915C17.3483 19.2431 18.6915 17.8999 18.6915 16.2431V4.83426C18.6915 3.1774 17.3483 1.83426 15.6915 1.83426L4.26722 1.83426C2.61036 1.83426 1.26722 3.1774 1.26722 4.83426L1.26722 16.2431Z"
              fill={squareThingFill}></path>
          </svg>
        </div>
      </nav>
    </header>

    <slot />

    <br /><br />

    <div
      class="flex mt-a relative pb-16px flex-col items-center justify-evenly content-center"
    >
      <p
        class="text-10px text-#9A9A9A flex items-center content-center font-mena-grotesk fw-300"
      >
        Copyright © 2024 Mchiaga Tsavsar Shater. All Rights Reserved.
      </p>
      <p
        class="text-10px gap-1 text-#9A9A9A flex items-center content-center font-mena-grotesk fw-300"
      >
        Designed By <a class="underline" href="https://twitter.com/Tsavsar_"
          >Shater</a
        > Built With

        <a class="underline" href="https://twitter.com/hyprsonic_dev"
          >@hyprsonic_dev</a
        >
      </p>
    </div>
  </body>
</html>
